html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color_primary);
  font-size: 16px;
  line-height: 24px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: var(--layout_s) auto;
  padding: 0 var(--grid_gutter_l);
}

.button {
  appearance: none;
  background-color: var(--color_primary);
  border: 1px solid var(--color_primary);
  border-radius: 3px;
  color: var(--color_white);
  cursor: pointer;
  outline: 0;
  padding: var(--spacing_s);
}

.button:hover {
  background-color: var(--color_white);
  border-color: var(--color_primary);
  color: var(--color_primary);
}

.button.is-floating {
  position: fixed;
  right: var(--spacing_l);
  bottom: var(--spacing_l);
}

.sans-serif {
  font-family: "SansSerif", sans-serif;
}

.serif {
  font-family: "Serif", serif;
}

.monospace {
  font-family: "Monospace", monospace;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
  margin-top: var(--spacing_l);
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 21px;
}

p.lead {
  font-size: 19px;
  line-height: 1.5;
}

p {
  font-size: 16px;
}
