html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color_primary);
  font-size: 16px;
  line-height: 24px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: var(--layout_s) auto;
  padding: 0 var(--grid_gutter_l);
}
