@font-face {
  font-family: "MonashSans";
  src: url("https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8-VeJoCqeDjg.ttf");
}

@font-face {
  font-family: "MonashSerif";
  src: url("https://fonts.gstatic.com/s/vesperlibre/v13/bx6dNxyWnf-uxPdXDHUD_RdA-2ap0okKXKvPlw.ttf");
}

@font-face {
  font-family: "MonashMono";
  src: url("https://fonts.gstatic.com/s/firacode/v9/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_GNsFVfxN87gsj0.ttf");
}
